@{
    ViewData["Title"] = "Product";
    ViewBag.PageHeading = "Product";
}

@section Styles{
    <link href="~/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/css/daterangepicker.css" rel="stylesheet" />
    <link href="~/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
}
<section class="content">

    <form id="frmProduct">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Product Form</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->

                    <div class="card-body" id="collapseExample">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Product Code</label>
                                    <input type="text" class="form-control" placeholder="PC-000000" disabled>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <!-- Date -->
                                <div class="form-group">
                                    <label>Date:</label>
                                    <div class="input-group date" id="reservationdate" data-target-input="nearest">
                                        <input type="text" name="date" class="form-control datetimepicker-input" data-target="#reservationdate" />
                                        <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.form group -->
                                <!-- Date range -->
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <!-- select -->
                                <div class="form-group">
                                    <label for="ddlProductCategory">Product Category</label>
                                    <select id="ddlProductCategory" name="productCategoryId" class="form-control js-select2">
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <!-- select -->
                                <div class="form-group">
                                    <label for="ddlProductUnit">Product Unit</label>
                                    <select id="ddlProductUnit" name="measureUnitId" class="form-control">
                                        <option value="1">Pcs</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="productName">Product Name</label>
                                    <input type="text" class="form-control" id="productName" name="name" placeholder="Enter product name..">
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="retailPrice">Retail Price</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Rs</span>
                                        </div>
                                        <input id="retailPrice" type="number" name="retailPrice" class="form-control" placeholder="125">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="unitPrice">Unit Price</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Rs</span>
                                        </div>
                                        <input id="unitPrice" type="number" name="actualPrice" class="form-control" placeholder="120">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="remarks">Remarks</label>
                                    <textarea class="form-control" rows="2" name="remarks" id="remarks" placeholder="Enter Remarks ..."></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" name="isActive" class="custom-control-input" id="customSwitch3">
                                <label class="custom-control-label" for="customSwitch3">Status</label>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <button type="submit" id="btnSubmit" class="btn btn-primary">Submit</button>
                        <button type="submit" id="btnUpdate" class="btn btn-info" disabled>Update</button>
                        <button type="submit" id="btnDelete" class="btn btn-danger">Delete</button>
                    </div>
                    <!--</form> -->
                </div>
                <!-- /.card -->
            </div>
            <!-- left column -->
            <!-- right column -->
            <div class="col-md-6">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Product's Chart of Account</h3>
                    </div>

                    <div class="card-body" id="#collapse2">
                        <div class="row">
                            <div class="col-sm-6">
                                <!-- select -->
                                <div class="form-group">
                                    <label>Cost of Goods Sold</label>
                                    <select name="costOfGoodsSoldCOAId" class="form-control">
                                        <option value="4">Equity</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Inventory</label>
                                    <select name="inventoryCOAId" class="form-control">
                                        <option value="4">Equity</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <!-- select -->
                                <div class="form-group">
                                    <label for="">Sales</label>
                                    <select name="saleCOAId" id="ddlSales" class="form-control">
                                        <option value="4">Equity</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Sales Discount</label>
                                    <select name="saleDiscountCOAId" id="ddlSalesDiscount" class="form-control">
                                        <option value="4">Equity</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Sales Return</label>
                                    <select name="saleReturnCOAId" id="ddlSalesReturn" class="form-control">
                                        <option value="4">Equity</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--/.col (right) -->
        </div>
    </form>
    <div class="row">
        <div class="col-12">
            <div class="card card-info">
                <div class="card-header">
                    <h3>Products Record</h3>
                </div>

                <div class="card-body">
                    <table id="productTable" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Code</th>
                                <th>Name</th>
                                <th>Date</th>
                                <th>Category</th>
                                <th>Measure Unit</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</section>
@section Scripts{
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/dataTables.responsive.min.js"></script>
    <script src="~/js/responsive.bootstrap4.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/daterangepicker.js"></script>
    <script src="~/js/tempusdominus-bootstrap-4.min.js"></script>
    <script>

        $(function () {
            //Date range picker
            $('#reservationdate').datetimepicker({
                format: 'L'
            });
            //Date range picker



        })

        loadProducts();

    </script>
}