@{
    ViewData["Title"] = "Product";
    ViewBag.PageHeading = "Product Category";
}




<section class="content">
    
        <div class="row">

            <div class="col-md-6">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Product Category</h3>
                    </div>
                    <form id="frmCategories">
                        <input type="hidden" id="hdnProductCategoryId"/>     
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="txtProductCategoryName">Category Name</label>
                                        <input id="txtProductCategoryName" name="name" type="text" class="form-control" placeholder="Enter Product Category">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="button" id="btnProductCategoryCreate" class="btn btn-primary">Submit</button>
                            <button type="button" id="btnProductCategoryUpdate" class="btn btn-info" disabled>Update</button>
                            <button type="button" id="btnProductCategoryReset" class="btn btn-secondary float-right" disabled>Reset</button>
                        </div>
                    </form>
                </div>
            </div>


            <div class="col-md-6">
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Products Categories</h3>
                    </div>

                    <div class="card-body">
                        <table id="CategoryTable" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Category Name</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
</section>

@section Scripts{
    <script>

        loadCategoriesForGrid();

    </script>
}